body {
  margin: 20px;
  font-family: monospace;
  background-color: #d9eef4;
  color: #596D6A;
  text-align: center;

}

div.data-display {
margin: 100px;
background-color: white
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #596D6A;
  
  
}

a {
  color: #76939b;
  text-decoration:none
}

.projects {
text-align: left;

}

button {
  border-radius: 10px;
  border-color: white;
  color: #9f9f9f; 
  background-color: #f6f1f1;
}

div{
  padding: 35px;
}

.card {
  text-align:  right;
  background-color:white;
  padding: 1rem;
  width: 15rem;
  height: 15rem;
  display: inline-grid;
  margin: 2rem 2rem;
  border-radius:10px;
  align-items: flex-start;
}

