body {
  margin: 20px;
  font-family: monospace;
  background-color: #d9eef4;
  color: #8a9e9b;
  text-align: center;
}

div.data-display {
margin: 100px;
background-color: white
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #596D6A;
 }

a {
  color: #76939b;
  text-decoration:none
}

a:hover {
  color: #43454a;
}

.projects {
text-align: left;
}

button {
  border-radius: 10px;
  border-color: white;
  color: #9f9f9f; 
  background-color: #e6eff6;
}

div{
  padding: 10px;
}

.card {
  text-align:  right;
  background-color:white;
  padding: 1rem;
  width: 15rem;
  height: 15rem;
  display: inline-grid;
  margin: 2rem 2rem;
  border-radius:10px;
  align-items: flex-start;
}

.apiCard {
  text-align:  center;
  background-color:rgb(245, 254, 255);
  padding: 1rem;
  width: 15rem;
  height: 20rem;
  display: inline-grid;
  margin: 1rem 1rem;
  border-radius:10px;
  align-items: flex-start;
}

.projectCard {
  text-align:  center;
  background-color:white;
  padding: 1rem;
  width: 15rem;
  height: 15rem;
  display: inline-grid;
  margin: 2rem 2rem;
  border-radius:10px;
}

.createCard {
  text-align:  center;
  background-color:white;
  padding: 1rem;
  width: 30rem;
  height: 20 rem;
  display: inline-grid;
  margin: 2rem 2rem;
  border-radius:10px;
}

input[type='text']{
    width: 100%;
}

